In [2]:
import pandas as pd

In [4]:
aapl_returns = pd.DataFrame({"AAPL": [0.5, 0.56, 0.59, 0.52, 0.1, 0.75, 0.47]})

aapl_returns.iloc[4:]

   AAPL
4  0.10
5  0.75
6  0.47

In [19]:
aapl_returns.iloc[-3:]

   AAPL
4  0.10
5  0.75
6  0.47

In [21]:
sales_df = pd.DataFrame({"item": ["tomatoes", "onions", "potatoes", "tomatoes", "mushrooms"],
                "quantity": [15, 26, 10, 12, 2],
                "total_price": [50.25, 39.52, 50.01, 40.20, 8.46]})

In [22]:
min_price = sales_df["total_price"].min()

min_price_row = sales_df.loc[sales_df["total_price"] == min_price]

min_price_row

        item  quantity  total_price
4  mushrooms         2         8.46

In [24]:
max_price = sales_df["total_price"].max()

max_price_row = sales_df.loc[sales_df["total_price"] == max_price]

max_price_row

       item  quantity  total_price
0  tomatoes        15        50.25

In [25]:
sales_df.loc[sales_df["item"] == "tomatoes", ["total_price"]].mean()

total_price    45.225
dtype: float64